#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

#title {
  color: #cdd6f4;
  position:absolute;
}

#desc {
  color: #cdd6f4;
  position: absolute;
  margin-top: 70px;
}

#datepicker {
  position: absolute;
}

#clock {
  position: absolute;
  color: #cdd6f4;
  opacity: 1;
  margin: auto;
}

.box {
  border-radius: 5px;
  background-color: #1e1e2e;
  opacity: 0.3;
  color: #cdd6f4;
}